* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 30px;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(rgb(47, 150, 163), rgb(8, 62, 143));
  font-family: sans-serif;
  color: white;
}

.location,
.tempurature {
  height: 30vh;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tempurature {
  flex-direction: column;
}

.degree-section {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.degree-section span {
  margin: 10px;
}

.degree-section h2 {
  font-size: 40px;
}
